<html style="text-align:center;" 
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Conference</title>
</head>

<body bgcolor="#9B9FA3">
<div align="center"> 
<br/>
		<h2> Conference <span id="the-title" layout:fragment="pageTitle" /> </h2>
		<h5> Signed in as: <span th:text="${session.userLogin}" /> </h5>
		<h4 th:text="${message}" style='color:#87aba1' />
		
	<br/>

	<table style="width:80%; BORDER: RGB(137,155,175) 1px solid;">
		<tr style="margin: 8px; background-color: #f5f5f5;">
			<td align='center'>
			
			
				<div id="the-content" layout:fragment="content">
					Static content - never visible 
	   			</div>

			</td>
		</tr>
	</table>
</div>
	
<br/>	<br/>	<br/>	<br/>
<hr />
<!--(c) The Web Factory Inc.-->
</body>
</html>